<!DOCTYPE HTML>

<html>
	<head>
		<title>{{ page.title }} | SaaS Experts</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link href="https://fonts.googleapis.com/css?family=Muli:700" rel="stylesheet">
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">SaaS Experts</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>All SaaS comparison</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="generic.html">Generic</a></li>
											<li><a href="elements.html">Elements</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

					<article id="main">
						<header>
							<h2>HEADER</h2>

							<p>SUBTITLE</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">